@model ModuleServicePOS.Data.UserDetails
@{
    ViewBag.Title = "User Login";
}
@section Styles{
    <style>
        .form-signin {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: 0 auto;
        }
    </style>
}
<div class="panel panel-default">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {
        if (TempData["errorMsg"] != null)
        {
            <span class="text-danger">@TempData["errorMsg"]</span>
        }
        <div class="text-center mb-4">
            <img class="mb-4" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-link-contact-flatart-icons-outline-flatarticons.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Module Service POS</h1>
        </div>

        <div class="form-label-group mb-3">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "required", @placeholder = "Email address", @autofocus = "true" })
        </div>

        <div class="form-label-group mb-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required", @placeholder = "Password" })
        </div>

        @*<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>*@
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    }
    <h3>@ViewBag.Msg</h3>
</div>

